
.center{ 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.horizontal{
    flex-direction: row;
}
.imageContainer{
    border:1px solid gray;
    padding:1em;
    flex-direction: column;
    margin:auto;
}
#img{
    display:block;
}
.buttons{
    margin:1em;
}
.score{
    display:inline-block;
}
select{
    display: inline-block;
}
.winner{
    color:green;
}
.loser{
    color:red;
}
.finalScore{
    font-size:2em;
}
button{
    color:white;
    padding:0.75em 1.25em;
    border:none;
    margin:0,0.5em;

}
button:hover{
    cursor: pointer;
}
.add1Score:nth-of-type(1){
    text-align: center;
    background-color: green;
}
.add1Score:nth-of-type(2){
    background-color:blue;
    text-align: center;
}
#reset{
    background-color:red;
    
}
.disableButtons{
    background-color:gray;
}
.disableButtons:hover{
    cursor:not-allowed;
}
label{
    margin:0 1em;
}