h1{
    text-align:center;
    width:50%;  /*of the page*/
    font-weight:400;
    text-decoration: #522411 overline wavy; 
    letter-spacing: 10px;
    font-size:80px;
    font-family: Segoe UI,Arial,Futura, sans-serif;
}

p{
    font-weight:normal;
    line-height: 2;

}
a{
    text-decoration: none;
}