body{

    font-family:Monstserrat,sans-serif;

}
h1{
    font-size:3rem;
    margin-bottom:0;


}
h1+h2{
    margin-top:10x;
}
h1,h2,h3{
font-family:Roboto;
    font-weight:100;
}
main{
    width:60%;
    margin:0 auto;
}